---
const {href, variant, modalid, text="Læs mere"} = Astro.props;
---
{ href ? (
<a href={href} class={`link-button link-button--${variant}`}>{text}</a>
):(<button class={`link-button link-button--${variant}`} data-modal-id={modalid}>{text}</button>)
}

	

    <style>
        a.link-button {
    padding: 8px 16px;
    border-radius: 999px;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: montserrat-bold;
    font-size: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    will-change: transform, box-shadow, background, color;
    text-decoration: none;
}

a.link-button:hover {
 
    background-color: #343A3F;
    color: #fff;
 transform: translate(-4px) scale(1.03);
 box-shadow: 0 10px 25px rpga(0, 0, 0, 2);
}

  button {
    padding: 8px 16px;
    border-radius: 999px;
    background-color: #000;
    color: #fff;
    border: none;
    font-family: montserrat-bold;
    font-size: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    will-change: transform, box-shadow, background, color;
    text-decoration: none;
}

button:hover {
 
    background-color: #343A3F;
    color: #fff;
 transform: translate(-4px) scale(1.03);
 box-shadow: 0 10px 25px rpga(0, 0, 0, 2);
}

@media screen and (width >= 768px) {


a.link-button {
     padding: 12px 30px;
     font-size: 14px;
 
}

button {
 padding: 12px 30px;
     font-size: 14px;
    
}
}
    </style>